*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 100px;
    /* width: 100px; */
    background-color: #4b9df0;
    padding: 50px;
}

.cupboard{
    padding: 50px;
    background-color: #f1f1f1;
    height: 700px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project{
    background-color: #7ab1d6;
    /* padding: 10px; */
    height: 100px;
    width: 100px;
    border: #000000;
}

.project a {
    height: 100px;
    width: 100px;
    display: block;
    color: black;
    text-decoration: none;
    position: absolute;
  }
   
  .project a.active {
    background-color: #414141; 
    color: white;
  }
  /* #4CAF50; */
  .project a:hover:not(.active) {
    background-color: rgb(0, 110, 173);
    color: white;
  }

  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)